odoo14-addon-account-tax-unece @ git+https://github.com/OCA/community-data-files@14.0#subdirectory=setup/account_tax_unece
odoo14-addon-uom-unece @ git+https://github.com/OCA/community-data-files@14.0#subdirectory=setup/uom_unece
odoo14-addon-sale-commercial-partner @ git+https://github.com/OCA/sale-workflow@14.0#subdirectory=setup/sale_commercial_partner
odoo14-addon-onchange-helper @ git+https://github.com/OCA/server-tools@14.0#subdirectory=setup/onchange_helper
odoo14-addon-sale-order-import @ git+https://github.com/trobz/edi@14.0-mig-sale_order_import#subdirectory=setup/sale_order_import
